<% if user_signed_in? %>

  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

<% else %>
  <div>
	  Enter with your salesianosdosa.com account
	  <%= link_to image_tag('social_icons/google_64.png'),
	      omniauth_authorize_path('user', :google_oauth2) %>
  </div>
	  <%= link_to('Login', new_user_session_path)  %>

<% end %>