<div id="header">
	<div class="Profile">
	<%= render 'devise/menu/profile' %>
	</div>

	<div class="Logo">
	  <%= link_to 'Q', root_url, :class => 'BlankLink' %>
	</div>

	<div style="clear:both;"></div>

	<div id="upper_menu">
		<%= render 'menus/admin_links'if you_are_admin? %>
	</div>

    <%= render 'menus/messages' %>
</div>

