	<p>
	   Sincerily, <br/><br/>
	   <strong><%= @admin.full_name %></strong><br/>
	   <em>Responsible of Quality Area</em>
	</p>


<p>
	<%= image_tag attachments.inline['vertical_cat_claim.png'].url %>
</p>
