<%= render 'email_header' %>

	<h1>Dear, <%= @user.first_name %></h1>

    <p> We are contacting you to annonce your account has been canceled
    by one of the administrators.</p>

 <%= render 'signature' %>

