<%= render 'email_header' %>

	<h1>Hello, <%= @user.first_name %></h1>

    <p> We want to thank you all your efforts
    and the smooth way in which you've carried your
    work out.</p>

    <p>However, like everything in this life we
    reached the end of a period of time working together in
    the Administrators' Board. No matter what, it's been
    a very enriching experience that I want to thank you
    once again.</p>

    <p>If you think we've removed you accidentally from the
    board, we actively encourage you to drop a message and
    let us know.</p>

 <%= render 'signature' %>

