$logo_space: 60px;

@font-face {
  font-family: 'Sawasdee';
  src: assets-url('/fonts/Sawasdee.ttf');
}

#page {
   margin: 0 10ex;
}

#header {
	margin-top: $logo_space;
	margin-bottom: 40px;
}

#upper_menu {
	text-align: right;
}

.Logo {
	font-family: Sawasdee;
	font-size: 120px;
	margin-left: 80px;
	padding: 30px 20px 40px 30px;
	width: 140px;
	border-bottom: 1px solid black;
}

.LogoFont {
	font-family: Sawasdee;
}

.ClearBoth {
    clear: both;
}


.BlankLink {
	text-decoration: none;
}

.BlankLink:hover {
	background-color: inherit;
	color: blue;
}

.BlankLink:visited {
	color: inherit;
}

.SoftEmail {
	color: #333;
}

.Ligth {
    color: #999;
}