
<% attachments.inline['Q.png'] = File.read(Rails.root.join("app/assets/images", "Q120.png")) %>
<% attachments.inline['vertical_cat_claim.png'] = File.read(Rails.root.join("app/assets/images", "vertical_cat_claim256.png")) %>

 <p>
    <%= image_tag attachments.inline['Q.png'].url %>
 </p>


<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>
	<%= image_tag attachments.inline['vertical_cat_claim.png'].url %>
</p>
