
<% attachments.inline['Q.png'] = File.read(Rails.root.join("app/assets/images", "Q120.png")) %>
<% attachments.inline['vertical_cat_claim.png'] = File.read(Rails.root.join("app/assets/images", "vertical_cat_claim256.png")) %>

 <p>
    <%= image_tag attachments.inline['Q.png'].url %>
 </p>

<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>

<p>
	<%= image_tag attachments.inline['vertical_cat_claim.png'].url %>
</p>