<div id="header">
	<div class="Profile">
	<%= render 'devise/menu/profile' %>
	</div>

	<div class="Logo">
	  <%= link_to 'Q', root_url, :class => 'BlankLink' %>
	</div>

	<div style="clear:both;"></div>
<%= render 'layouts/messages' %>
</div>

