<!DOCTYPE html>
<html>
 <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
        .LogoFont {
        	font-family: Sawasdee, Helvetica, Arial, Sans;
        	font-weight: bold;
        }
    </style>
  </head>
<body>
    <%= yield %>
  </body>
</html>
